{% extends "main/header.html" %}
<head>
  <meta charset="utf-8">
  {% load static %}
  <link rel="stylesheet" href="{% static 'tinymce/css/prism.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body>
  {% block content %}
    <div class="container" style="text-align:center; font-size:300%">
      <p><a href="login"><strong>Login</strong></a> to view awesome content.</p>
    </div>
  {% endblock %}
</body>
