<footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">My Blog Project</h5>
          <p class="grey-text text-lighten-4">Made with ❤ by Namit on Django</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Want to contribute?</h5>

          <!-- Add links here -->
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://github.com/pseudosodium/django-blog-project">Github Repo</a></li>
            <!-- <li><a class="grey-text text-lighten-3" href="#!">Link 2</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 3</a></li>
            <li><a class="grey-text text-lighten-3" href="#!">Link 4</a></li> -->
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2020 Namit Kumar

      <!-- Yaha apni id daal diyo -->
      <a class="grey-text text-lighten-4 right" href="https://github.com/pseudosodium">Profile</a>
      </div>
    </div>
</footer>
